@import 'variables';
@import 'mixins';

:root {
    font-size: 16px;
    @include responsive(medium-size) {
        font-size: 12px;
    }
    @include responsive(mini-size) {
        font-size: 8px;
    }
}

body {
    background: url(../images/wall.jpeg) no-repeat center center fixed;
    background-size: cover;
    font-family: $mainFont;
}

h1 {
    margin-bottom: 1em;
    text-align: center;
    font-weight: 900;
    color: white;
    text-shadow: $textShadow;
    font-size: 3em;
}

#timer {
    visibility: hidden;
    float: left;
    margin-bottom: 1em;
    font-weight: 900;
    color: white;
    text-shadow: $textShadow;
}

#moves {
    visibility: hidden;
    float: right;
    margin-bottom: 1em;
    font-weight: 900;
    color: white;
    text-shadow: $textShadow;
}

.info {
    @include clearfix;
    padding: 0 1em;
}

#gameTable {
    margin: 0 auto;
    @include clearfix;
}

table {
    visibility: hidden;
    border-spacing: 0;
    width: 100%;
    font-size: 1.4em;
    box-shadow: $boxShadow;
    
    th, td {
        text-align: left;
        padding: 0.6em 1em;
    }
    
    tr {
        
        &:nth-child(even) {
            background-color: rgba($color: #ffffff, $alpha: 0.9);
        }
        
        &:nth-child(odd) {
            background-color: rgba($color: #ffffff, $alpha: 0.8);
        }
    }

    thead {

        tr:first-child {
            background-color: rgba($color: #ffffff, $alpha: 1.0);
        }
    }
}

#startGame {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.2em 1em;
    background-color: orange;
    border-radius: 0.2em;
    color: white;
    font-weight: 800;
    font-size: 2em;
    box-shadow: $boxShadow;
    cursor: pointer;
}

.wrapper {
    position: relative;
    width: 60%;
    min-height: 100vh;
    padding: 2% 10%;
    margin: 0em auto;
    background-color: rgba($color: #000000, $alpha: 0.3);
    text-align: center;
    @include responsive(small-size) {
        width: 100%;
    }
}

.gameCard {
    position: relative;
    float: left;
    margin-bottom: 1.8em;
    width: 22%;
    height: 18vh;
    border-radius: 0.5em;
    box-shadow: $boxShadow;
    cursor: pointer;
    @include responsive(mini-size) {
        width: 30%;
        height: 16vh;
    }

    &:not(:nth-child(4n+0)) {
        margin-right: 4%;
        @include responsive(mini-size) {
            margin-right: 0;
        }
    }

    @include responsive(mini-size) {
        &:not(:nth-child(3n+0)) {
            margin-right: 5%;
        }
    }
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/back.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
}

.front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    border: white 0.5em solid;
}

.cat {
    &1 {
        background-image: url(../images/cat1.jpeg);
        background-position: center;
        background-size: cover;
    }
    &2 {
        background-image: url(../images/cat2.jpeg);
        background-position: center;
        background-size: cover;
    }
    &3 {
        background-image: url(../images/cat3.jpeg);
        background-position: center;
        background-size: cover;
    }
    &4 {
        background-image: url(../images/cat4.jpeg);
        background-position: center;
        background-size: cover;
    }
    &5 {
        background-image: url(../images/cat5.jpeg);
        background-position: center;
        background-size: cover;
    }
    &6 {
        background-image: url(../images/cat6.jpeg);
        background-position: center;
        background-size: cover;
    }
}

.flipped .back {
    visibility: hidden;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba($color: #000000, $alpha: 0.6);
}
  
.modal-content {
    background-color: orange;
    margin: auto;
    padding: 3em;
    width: 20em;
    border-radius: 0.5em;
    box-shadow: $boxShadow;

    input {
        display: block;
        border: none;
        font-size: 1.2em;
        padding: 0.6em;
        border-radius: 0.2em;
        width: 100%;
        font-family: $mainFont;
        color: orange;
        margin-bottom: 1em;
        box-shadow: inset 0 0 0.2rem rgba($color: #000000, $alpha: 0.5);

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: orange;
        }
    }
}

#submitScore {
    padding: 0.2em 1em;
    width: 100%;
    background-color: lightseagreen;
    border-radius: 0.2em;
    color: white;
    font-weight: 800;
    font-size: 1.2em;
    box-shadow: $boxShadow;
    cursor: pointer;
}